<footer class="border-top border-dark" style="padding: 4rem 0">
  <div class="container d-flex flex-row">
    <div class="col-md-4">
      <h2 class="h4 text-uppercase">
        Born Yesterday
      </h2>
    </div>
    <div class="col-md-3">
      <h2 class="h4 text-uppercase">Chicago, IL</h2>
    </div>
    <div class="col-md-3 ml-auto d-flex flex-row">
      <div class="rounded-circle p-1 mx-2 border border-dark" style="height: 2rem; width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="rounded-circle p-1 mx-2 border border-dark" style="height: 2rem; width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="rounded-circle p-1 mx-2 border border-dark" style="height: 2rem; width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;">
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
</footer>
