button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}


.btn{
	border-radius: 0;
	border: 1px solid;
}
.white-btn,
.white-btn:active,
.white-btn:focus,
.white-btn:visited{
	background: white;
	border-color:white;
	color: $purple;
	
	&:hover{
		background: transparent;
		border-color: $purple;
	}
}

.outline-inward {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
   transition-duration: .3s;

}
.outline-inward:before {
  content: '';
  position: absolute;
  -webkit-box-shadow: 0 0 2rem white;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 0;
  transition-duration: .3s;
  transition-property: top right bottom left;
}
.outline-inward:hover:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}
.white-btn.outline-inward:before{
	-webkit-box-shadow: 0 0 2rem rgba($purple, .5);
}