@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(-100%, 0, 0); } }
.animate-ticker {
  animation: 2s linear 0s infinite ticker !important; }
  .animate-ticker:first-child {
    display: none; }

.text--primary {
  color: #8ED99E; }

.bg--primary {
  background-color: #8ED99E; }

.fill--primary {
  fill: #8ED99E;
  transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }
  .fill--primary svg {
    fill: #8ED99E;
    transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }

.hover--primary:hover {
  fill: #8ED99E; }

.button--primary {
  background-color: #8ED99E;
  border-color: #8ED99E;
  color: white; }
  .button--primary:hover, .button--primary:focus {
    background-color: #5ac872;
    border-color: #5ac872;
    color: white; }

.icon-button--primary {
  background-color: #8ED99E;
  border-color: #8ED99E;
  color: white; }
  .icon-button--primary:hover, .icon-button--primary:focus {
    background-color: #5ac872;
    border-color: #5ac872;
    color: white; }
  .icon-button--primary:hover svg, .icon-button--primary:focus svg {
    fill: white; }

.inverse-button--primary {
  background-color: white;
  border-color: white;
  color: #8ED99E; }
  .inverse-button--primary:hover, .inverse-button--primary:focus {
    background-color: #8ED99E;
    border-color: #8ED99E;
    color: white; }

.inverse-icon-button--primary {
  background-color: white;
  border-color: white;
  color: #8ED99E; }
  .inverse-icon-button--primary:hover, .inverse-icon-button--primary:focus {
    background-color: #8ED99E;
    border-color: #8ED99E;
    color: white; }
  .inverse-icon-button--primary:hover svg, .inverse-icon-button--primary:focus svg {
    fill: white; }

.ghost-button--primary {
  background-color: transparent;
  border-color: #8ED99E;
  color: #8ED99E; }
  .ghost-button--primary:hover, .ghost-button--primary:focus {
    background-color: #8ED99E;
    border-color: #8ED99E;
    color: white; }

.ghost-icon-button--primary {
  background-color: transparent;
  border-color: #8ED99E;
  color: #8ED99E; }
  .ghost-icon-button--primary:hover, .ghost-icon-button--primary:focus {
    background-color: #8ED99E;
    border-color: #8ED99E;
    color: white; }
  .ghost-icon-button--primary:hover svg, .ghost-icon-button--primary:focus svg {
    fill: white; }

.inverse-ghost-button--primary {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-button--primary:hover, .inverse-ghost-button--primary:focus {
    background-color: white;
    border-color: white;
    color: #8ED99E; }

.inverse-ghost-icon-button--primary {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-icon-button--primary:hover, .inverse-ghost-icon-button--primary:focus {
    background-color: white;
    border-color: white;
    color: #8ED99E; }
  .inverse-ghost-icon-button--primary:hover svg, .inverse-ghost-icon-button--primary:focus svg {
    fill: #8ED99E; }

.text--secondary {
  color: #F3C041; }

.bg--secondary {
  background-color: #F3C041; }

.fill--secondary {
  fill: #F3C041;
  transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }
  .fill--secondary svg {
    fill: #F3C041;
    transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }

.hover--secondary:hover {
  fill: #F3C041; }

.button--secondary {
  background-color: #F3C041;
  border-color: #F3C041;
  color: white; }
  .button--secondary:hover, .button--secondary:focus {
    background-color: #e1a50e;
    border-color: #e1a50e;
    color: white; }

.icon-button--secondary {
  background-color: #F3C041;
  border-color: #F3C041;
  color: white; }
  .icon-button--secondary:hover, .icon-button--secondary:focus {
    background-color: #e1a50e;
    border-color: #e1a50e;
    color: white; }
  .icon-button--secondary:hover svg, .icon-button--secondary:focus svg {
    fill: white; }

.inverse-button--secondary {
  background-color: white;
  border-color: white;
  color: #F3C041; }
  .inverse-button--secondary:hover, .inverse-button--secondary:focus {
    background-color: #F3C041;
    border-color: #F3C041;
    color: white; }

.inverse-icon-button--secondary {
  background-color: white;
  border-color: white;
  color: #F3C041; }
  .inverse-icon-button--secondary:hover, .inverse-icon-button--secondary:focus {
    background-color: #F3C041;
    border-color: #F3C041;
    color: white; }
  .inverse-icon-button--secondary:hover svg, .inverse-icon-button--secondary:focus svg {
    fill: white; }

.ghost-button--secondary {
  background-color: transparent;
  border-color: #F3C041;
  color: #F3C041; }
  .ghost-button--secondary:hover, .ghost-button--secondary:focus {
    background-color: #F3C041;
    border-color: #F3C041;
    color: white; }

.ghost-icon-button--secondary {
  background-color: transparent;
  border-color: #F3C041;
  color: #F3C041; }
  .ghost-icon-button--secondary:hover, .ghost-icon-button--secondary:focus {
    background-color: #F3C041;
    border-color: #F3C041;
    color: white; }
  .ghost-icon-button--secondary:hover svg, .ghost-icon-button--secondary:focus svg {
    fill: white; }

.inverse-ghost-button--secondary {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-button--secondary:hover, .inverse-ghost-button--secondary:focus {
    background-color: white;
    border-color: white;
    color: #F3C041; }

.inverse-ghost-icon-button--secondary {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-icon-button--secondary:hover, .inverse-ghost-icon-button--secondary:focus {
    background-color: white;
    border-color: white;
    color: #F3C041; }
  .inverse-ghost-icon-button--secondary:hover svg, .inverse-ghost-icon-button--secondary:focus svg {
    fill: #F3C041; }

.text--tertiary {
  color: #DB3D2E; }

.bg--tertiary {
  background-color: #DB3D2E; }

.fill--tertiary {
  fill: #DB3D2E;
  transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }
  .fill--tertiary svg {
    fill: #DB3D2E;
    transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }

.hover--tertiary:hover {
  fill: #DB3D2E; }

.button--tertiary {
  background-color: #DB3D2E;
  border-color: #DB3D2E;
  color: white; }
  .button--tertiary:hover, .button--tertiary:focus {
    background-color: #a7291d;
    border-color: #a7291d;
    color: white; }

.icon-button--tertiary {
  background-color: #DB3D2E;
  border-color: #DB3D2E;
  color: white; }
  .icon-button--tertiary:hover, .icon-button--tertiary:focus {
    background-color: #a7291d;
    border-color: #a7291d;
    color: white; }
  .icon-button--tertiary:hover svg, .icon-button--tertiary:focus svg {
    fill: white; }

.inverse-button--tertiary {
  background-color: white;
  border-color: white;
  color: #DB3D2E; }
  .inverse-button--tertiary:hover, .inverse-button--tertiary:focus {
    background-color: #DB3D2E;
    border-color: #DB3D2E;
    color: white; }

.inverse-icon-button--tertiary {
  background-color: white;
  border-color: white;
  color: #DB3D2E; }
  .inverse-icon-button--tertiary:hover, .inverse-icon-button--tertiary:focus {
    background-color: #DB3D2E;
    border-color: #DB3D2E;
    color: white; }
  .inverse-icon-button--tertiary:hover svg, .inverse-icon-button--tertiary:focus svg {
    fill: white; }

.ghost-button--tertiary {
  background-color: transparent;
  border-color: #DB3D2E;
  color: #DB3D2E; }
  .ghost-button--tertiary:hover, .ghost-button--tertiary:focus {
    background-color: #DB3D2E;
    border-color: #DB3D2E;
    color: white; }

.ghost-icon-button--tertiary {
  background-color: transparent;
  border-color: #DB3D2E;
  color: #DB3D2E; }
  .ghost-icon-button--tertiary:hover, .ghost-icon-button--tertiary:focus {
    background-color: #DB3D2E;
    border-color: #DB3D2E;
    color: white; }
  .ghost-icon-button--tertiary:hover svg, .ghost-icon-button--tertiary:focus svg {
    fill: white; }

.inverse-ghost-button--tertiary {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-button--tertiary:hover, .inverse-ghost-button--tertiary:focus {
    background-color: white;
    border-color: white;
    color: #DB3D2E; }

.inverse-ghost-icon-button--tertiary {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-icon-button--tertiary:hover, .inverse-ghost-icon-button--tertiary:focus {
    background-color: white;
    border-color: white;
    color: #DB3D2E; }
  .inverse-ghost-icon-button--tertiary:hover svg, .inverse-ghost-icon-button--tertiary:focus svg {
    fill: #DB3D2E; }

.text--dark {
  color: black; }

.bg--dark {
  background-color: black; }

.fill--dark {
  fill: black;
  transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }
  .fill--dark svg {
    fill: black;
    transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }

.hover--dark:hover {
  fill: black; }

.button--dark {
  background-color: black;
  border-color: black;
  color: white; }
  .button--dark:hover, .button--dark:focus {
    background-color: black;
    border-color: black;
    color: white; }

.icon-button--dark {
  background-color: black;
  border-color: black;
  color: white; }
  .icon-button--dark:hover, .icon-button--dark:focus {
    background-color: black;
    border-color: black;
    color: white; }
  .icon-button--dark:hover svg, .icon-button--dark:focus svg {
    fill: white; }

.inverse-button--dark {
  background-color: white;
  border-color: white;
  color: black; }
  .inverse-button--dark:hover, .inverse-button--dark:focus {
    background-color: black;
    border-color: black;
    color: white; }

.inverse-icon-button--dark {
  background-color: white;
  border-color: white;
  color: black; }
  .inverse-icon-button--dark:hover, .inverse-icon-button--dark:focus {
    background-color: black;
    border-color: black;
    color: white; }
  .inverse-icon-button--dark:hover svg, .inverse-icon-button--dark:focus svg {
    fill: white; }

.ghost-button--dark {
  background-color: transparent;
  border-color: black;
  color: black; }
  .ghost-button--dark:hover, .ghost-button--dark:focus {
    background-color: black;
    border-color: black;
    color: white; }

.ghost-icon-button--dark {
  background-color: transparent;
  border-color: black;
  color: black; }
  .ghost-icon-button--dark:hover, .ghost-icon-button--dark:focus {
    background-color: black;
    border-color: black;
    color: white; }
  .ghost-icon-button--dark:hover svg, .ghost-icon-button--dark:focus svg {
    fill: white; }

.inverse-ghost-button--dark {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-button--dark:hover, .inverse-ghost-button--dark:focus {
    background-color: white;
    border-color: white;
    color: black; }

.inverse-ghost-icon-button--dark {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-icon-button--dark:hover, .inverse-ghost-icon-button--dark:focus {
    background-color: white;
    border-color: white;
    color: black; }
  .inverse-ghost-icon-button--dark:hover svg, .inverse-ghost-icon-button--dark:focus svg {
    fill: black; }

.text--light {
  color: white; }

.bg--light {
  background-color: white; }

.fill--light {
  fill: white;
  transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }
  .fill--light svg {
    fill: white;
    transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }

.hover--light:hover {
  fill: white; }

.button--light {
  background-color: white;
  border-color: white;
  color: white; }
  .button--light:hover, .button--light:focus {
    background-color: #dddddd;
    border-color: #dddddd;
    color: white; }

.icon-button--light {
  background-color: white;
  border-color: white;
  color: white; }
  .icon-button--light:hover, .icon-button--light:focus {
    background-color: #dddddd;
    border-color: #dddddd;
    color: white; }
  .icon-button--light:hover svg, .icon-button--light:focus svg {
    fill: white; }

.inverse-button--light {
  background-color: white;
  border-color: white;
  color: white; }
  .inverse-button--light:hover, .inverse-button--light:focus {
    background-color: white;
    border-color: white;
    color: white; }

.inverse-icon-button--light {
  background-color: white;
  border-color: white;
  color: white; }
  .inverse-icon-button--light:hover, .inverse-icon-button--light:focus {
    background-color: white;
    border-color: white;
    color: white; }
  .inverse-icon-button--light:hover svg, .inverse-icon-button--light:focus svg {
    fill: white; }

.ghost-button--light {
  background-color: transparent;
  border-color: white;
  color: white; }
  .ghost-button--light:hover, .ghost-button--light:focus {
    background-color: white;
    border-color: white;
    color: white; }

.ghost-icon-button--light {
  background-color: transparent;
  border-color: white;
  color: white; }
  .ghost-icon-button--light:hover, .ghost-icon-button--light:focus {
    background-color: white;
    border-color: white;
    color: white; }
  .ghost-icon-button--light:hover svg, .ghost-icon-button--light:focus svg {
    fill: white; }

.inverse-ghost-button--light {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-button--light:hover, .inverse-ghost-button--light:focus {
    background-color: white;
    border-color: white;
    color: white; }

.inverse-ghost-icon-button--light {
  background-color: transparent;
  border-color: white;
  color: white; }
  .inverse-ghost-icon-button--light:hover, .inverse-ghost-icon-button--light:focus {
    background-color: white;
    border-color: white;
    color: white; }
  .inverse-ghost-icon-button--light:hover svg, .inverse-ghost-icon-button--light:focus svg {
    fill: white; }

* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: -.025em; }

.btn {
  border-radius: 0 25px 0 0;
  min-width: 10rem;
  transition: 200ms cubic-bezier(0.21, 0.62, 0.77, 0.01); }
  .btn:hover {
    border-radius: 0 0 0 25px; }

.rounded-special {
  border-radius: 0 100px 0 0; }
